/* 余白なしで表示するための設定 */
html,body{margin:0;padding:0;}

/* ヘッダー、ボディ、フッターを縦に並べる */
body{
    flex-direction: column;
}

/* ///////////////ヘッダーの設定////////////////// */

#header {
    width: 100%;
    align-items: center;
}

.header-top {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.gnav-pc-wrap {
    display: flex;
    justify-content: center;
    background-color: #FFF9E6;
}

ul.gnav-pc li {
    display: inline;
    margin-right: 40px;
}

ul.gnav-pc li a {
    font-family: 'Cabin', sans-serif;
    font-size: 19px;
    letter-spacing: 0.13em;
    color: #333333;
    font-weight: bold;
}

ul.gnav-pc li:hover {
    color: rgb(214, 237, 248);
}
